
{% comment %} <h1>This is my homepage</h1>
{% if data %}
{{data}}
<br/>
{% for i in data %}
<h2>{{i}}</h2>
<br/>
{% endfor %}
<br/>
<br/>
<br/>
{% for i in data %}
    Name:{{i.stu_name}}
    Email:{{i.stu_email}}
    Contact:{{i.stu_contact}}
    City:{{i.stu_city}}
    <br/>
{% endfor %}

<br/>

<table border='2'>
<tr>
<th>Student Name</th>
<th>Student Email</th>
<th>Student Contact</th>
<th>Student City</th>
<th>Edit</th>
<th>Delete</th>
</tr>
{% for i in data %}
<tr>
<td>{{i.stu_name}}</td>
<td>{{i.stu_email}}</td>
<td>{{i.stu_contact}}</td>
<td>{{i.stu_city}}</td>
<td><a href="">Edit</a></td>
<td><a href="">Delete</a></td>
</tr>
{% endfor %}
</table>

{% else %}
{{data2}}
<h1> No data found</h1>
{% endif %}

{% with name="aditi" %}
{{name}}
{% endwith %}
<br/>
<br/>
{% with value=10 %}
{{value|add:5}}
{% endwith %}
<br/>
{% with name="django" %}
{{name|capfirst}}
{% endwith %}
<br/>
{% with name="django" %}
"{{name|center:"15"}}"
{% endwith %}
<br/>

{% with user="" %}
welcome{{user|default:"Guest"}}
{% endwith %} {% endcomment %}


<table border='2'>
<tr>
<th>S.No</th>
<th>Student Name</th>
<th>Student Email</th>
<th>Student Contact</th>
<th>Student City</th>
<th>Edit</th>
<th>Delete</th>
</tr>
{% for i in data %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{i.stu_name}}</td>
<td>{{i.stu_email}}</td>
<td>{{i.stu_contact}}</td>
<td>{{i.stu_city}}</td>
<td><a href="{% url 'edit' pk=i.id %}">Edit</a></td>
<td><a href="{% url 'delete' pk=i.id %}">Delete</a></td>
</tr>
{% endfor %}
</table>

  {% if data1 %}
<h3>Update Table</h3>
<form action="{% url 'update' pk=data1.id %}" method="post">
   {% csrf_token %}
   <input type="text" name="name" value="{{data1.stu_name}}"><br>
   <input type="email" name="email" value="{{data1.stu_email}}" readonly><br>
   <input type="number" name="contact" value="{{data1.stu_contact}}"><br>
   <input type="text" name="city" value="{{data1.stu_city}}"><br>
   <input type="submit" value="Update">
</form>

{% endif %} 
